html {
  height: 100%;
}
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 45px 22.5px;
  background: #fff;
  background-image: url("../images/bg.png");
  user-select: none;
  opacity: 0;
}

.operation-row {
  display: flex;
  margin-bottom: 45px;
}

.operation-item-container {
  display: flex;
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.operation-item {
  flex: 1;
  margin: 0 22.5px 0;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background: #e8e8e8;
  color: #333;
  /* font-size: 20px; */
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.operation-item > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.operation-item:empty {
  background: transparent;
  cursor: default;
}

.operation-item.active {
  background: #3e86ec;
  color: #fff;
}

.operation-row:last-child {
  margin-bottom: 0;
}

/* .operation-item-container:nth-child(1).operation-item {
  margin-left: 0px;
}


.operation-item-container:nth-child(3) .operation-item {
  margin-right: 0;
} */
